@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

body a {
    text-decoration: none;
}

.header-section {
    width: 100%;
    height: auto;
    background-image: url("/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.menu-items li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    list-style: none;
    padding: 0.5rem;
}

.menu-items a {
    color: #fff;
}

.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    width: 100%;
    height: auto;
}

.intro-header {
    width: 50%;
    display: flex;
    border: 4px solid #fff;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.intro-header h1 {
    overflow: hidden;
    text-align: left;
    font-size: 60px;
}

.main-section {
    padding: 2rem;
}

.main-section main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 1rem; */
}

.image-container {
    align-items: flex-start;
}

.image-details {
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: #fff;
}

.image-details-position {
    background-color: #fff;
    padding: 3rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 30%;
    text-align: left;
}

.creations-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.creations-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.creations-header button {
    background-color: #fff;
    padding: 10px;
    width: 10%;
    border: solid #cccccc;
}

.creations-header button:active {
    background-color: #ddd;
}

.cards-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cards-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: #fff;
    padding-bottom: 0.5rem;
}

.card-image img {
    border-radius: 0.5rem;
}

.card-title {
    position: absolute;
    bottom: 0px;
    padding: 1rem;
    background-color: #fff;
    width: 100%;
    height: auto;
    transform: transition;
    color: #000;
    border: 3px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.card-title:hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    transition: all 300ms;
    border: 3px solid #ddd;
}

.card-title img:hover {
    display: none;
}

/* MOBILE DISPLAYS SMALL THAN 1200PX*/

@media only screen and (max-width: 1200px) {
    #header {
        flex-direction: column;
        width: 100vh;
    }

    .menu-logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: none;
        /* display: none; ""will hide menu"" */
        background-color: #000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .menu-items {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        margin: 5px;
    }

    .menu-items li {
        width: 100%;
        margin: 1rem;
    }

    .intro-section {
        width: 100%;
        height: 100%;
    }

    .intro-header {
        width: 100%;
        height: auto;
    }

    .main-section main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        width: 100%;
    }

    .image-container img {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }

    .image-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .image-details-position {
        padding: 3rem;
        position: relative;
        left: 0%;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .creations-header {
        flex-direction: column;
        width: 100%;
    }

    .creations-header button {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }
}